
$background-color: #292c2d;
$home-image: url("/src/shared/assets/img/image2.png");

$nav-links-color: #ecf0f1;

$max-width-xs: 90%;
$max-width-sm: 540px;
$max-width-md: 720px;
$max-width-lg: 960px;
$max-width-xl: 1140px;

$input-line-height: 70px;

$spinner-background-color: #222427;
$spinner-color: #ecf0f1;