.login {
    .login__header{
        margin-bottom: 10px;
        font-size: 30px;
        color: #ecf0f1;
        font-weight: lighter;
    }
    .create-account {
        a {
            color: #ecf0f1;
            text-decoration: none;
        }
    }
}