/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Montserrat';
	vertical-align: middle;
	box-sizing: border-box;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
	background-color: $background-color;
}
  
body::after {
content: "";
background-image: $home-image;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
opacity: 0.1;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;   
}

#root {
display: flex;
flex-direction: column;
height: 100vh;
}

.spinner {
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.6;
	bottom: 0;
	left: 0;
	background-color: $spinner-background-color;
	backface-visibility: unset;
	color: $spinner-color;
	z-index: 999999999;
	transition: all .3s ease;
	
	.spinner-icon {
		position: absolute;
		font-size: 70px;
		top: calc(50% - 0.6em);
		left: calc(50% - 0.6em);
		z-index: 999999999;
	}
  }